{% extends 'base/base.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<h1>Wellcome {{ request.user.username }} to your dashboard</h1>
<hr>
<a href="{% url 'account:change_user_password' request.user.username %}">Change Password</a>

<table class="table-hover">
  <tr class="thead-success">
    <th>username</th>
    <th>first name</th>
    <th>last name</th>
    <th>email</th>
  </tr>
  <tr>
    <td>{{ request.user.username }}</td>
    <td>{{ request.user.first_name }}</td>
    <td>{{ request.user.last_name }}</td>
    <td>{{ request.user.email }}</td>
  </tr>
</table>


{% endblock content %}

{% block scripts %}

{% endblock scripts %}
