{% load i18n %}{% autoescape off %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <h5>
        {% blocktrans %}
            Thank You For Signing Up To {{ site_name }}.
        {% endblocktrans %}
    </h5>
    <p>
        {% blocktrans %}
            Finish creating your account by telling us a little bit about yourself.
        {% endblocktrans %}
    </p>
    {% endautoescape %}
</body>
</html>
