// Buttons
// --------------------------------------------------------------------

// Button Dimensions
$btn-v-spacing:                    0.6em;
$btn-h-spacing:                    1.6em;
$btn-border-radius:                0.5em;
$btn-border-width:                 0;