// Buttons
// --------------------------------------------------------------------

// --------------------------------------------------------------------
// Button Dimensions

// Common Button Dimensions
// btn-vsm Dimensions
// btn-sm Dimensions
// btn-md Dimensions
// btn-lg Dimensions
// btn-xlg Dimensions

// --------------------------------------------------------------------
// Button Colors
$primary: #44c767;
$success: #4CAF50;
$info: #38a4ff;
$warning: #f4e700;
$danger: #f54940;

.btn {
    display: inline-block;
    color: #fff;
    padding: 8px 15px;
    margin: 10px 0;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 0;
    outline: none !important;
    text-align: center;
    box-shadow: $z-depth-1;
    &:hover,
    &:active,
    &:focus {
        box-shadow: $z-depth-1-half;
        outline: 0;
    }
    &:not([disabled]):not(.disabled):active,
    &:not([disabled]):not(.disabled).active {
        box-shadow: $z-depth-1-half;
    }
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.btn-sm {
    padding: 6px 12px;
    font-size: 13px;
}

.btn-md {
    padding: 10px 15px;
    font-size: 15px;
}

.btn-lg {
    padding: 10px 15px;
    font-size: 17px;
}

.btn-block {
    width: 100%;
}

// btn-primary
.btn-primary {
    border: 1px solid $primary;
    background-color: $primary;
}

// btn-success
.btn-success {
    border: 1px solid $success;
    background-color: $success;
}

// btn-info
.btn-info {
    border: 1px solid $info;
    background-color: $info;
}

// btn-warning
.btn-warning {
    border: 1px solid $warning;
    background-color: $warning;
}

// btn-danger
.btn-danger {
    border: 1px solid $danger;
    background-color: $danger;
}