// Cards
// Card related sass properties
// --------------------------------------------------------------------

.card {
    box-shadow: $z-depth-1;
    border: 0;
    font-weight: 400;
    .card-body {
        padding: 10px;
    }
}
