// Colors
// Color Library
// --------------------------------------------------------------------

// Button Colors
$primary:    #44c767 !default;
$success:    #4CAF50 !default;
$info:       #38a4ff !default;
$warning:    #f4e700 !default;
$danger:     #f54940 !default;

$grey-base:       #9e9e9e !default;