// Forms
// Form related sass properties
// --------------------------------------------------------------------

// Forms
.form-container {
    padding: 20px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=textarea], 
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search-md],
input[type=search],
input[type=submit],
select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 0;

    // Invalid Field Data Style
    // Invalid input style
    &.invalid,
    &:focus.invalid {
        border-bottom: 1px solid $input-error-color;
        box-shadow: 0 1px 0 0 $input-error-color;
    }
}

.helptext{
    font-size: 5px;
    color: gray;
}