// Tables
table {
    border-collapse: collapse;
    width: 100%;

    th {
        font-size: $table-th-font-size;
        font-weight: 400;
        border: 1px solid #ddd !important;
        padding: 7px 18px;
    }
    td {
        font-size: $table-td-font-size;
        font-weight: 300;
        border: 1px solid #ddd !important;
        padding: 7px 18px;
    }
    .thead-primary {
        background-color: $primary;
        color: white;
    }
    .thead-success {
        background-color: $success;
        color: white;
    }
    &.table-hover {
        tbody {
            tr { // FIXME: Fix hover effect for table headeer
                &:hover {
                    transition: $table-hover-transition;
                    background-color: $table-hover-background-color;
                }
            }
        }
    }
    &.table-zebra {
        tbody {
            tr:nth-child(even) {
                background-color: #f2f2f2;
            }
        }
    }
}